version: "2"
services:
  # for development purposes
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/code
    environment:
      - KBC_PROJECTID
      - KBC_DATADIR
      - KBC_TOKEN
      - KBC_TOKEN_ID
      - KBC_URL
      - WR_GOOGLE_DRIVE_ACCOUNT_ID
      - WR_GOOGLE_DRIVE_ACCOUNT_EMAIL
      - WR_GOOGLE_DRIVE_ACCESS_TOKEN
      - WR_GOOGLE_DRIVE_REFRESH_TOKEN
      - WRGD_GOODDATA_URI
      - WRGD_LOGIN
      - WRGD_PASSWORD
      - WRGD_PID
