<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="TestSuiteUS">
            <directory>./tests/Keboola</directory>
        </testsuite>
        <testsuite name="TestSuiteEU">
            <directory>./tests/Keboola</directory>
            <exclude>./tests/Keboola/ConfigMigrationTool/Configurator/WrGoogleDriveConfiguratorTest.php</exclude>
            <exclude>./tests/Keboola/ConfigMigrationTool/Configurator/WrGoogleSheetsConfiguratorTest.php</exclude>
            <exclude>./tests/Keboola/ConfigMigrationTool/Migrations/WrGoogleDriveMigrationTest.php</exclude>
            <exclude>./tests/Keboola/ConfigMigrationTool/Service/WrGoogleDriveServiceTest.php</exclude>
        </testsuite>
    </testsuites>

</phpunit>
