<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="TestSuiteUS">
            <directory>./tests/Keboola</directory>
        </testsuite>
        <testsuite name="TestSuiteEU">
            <file>./tests/Keboola/Migrations/GenericCopyMigrationTest.php</file>
            <file>./tests/Keboola/ConfigMigrationTool/Migrations/KeboolaExAdWordsMigrationTest.php</file>
            <file>./tests/Keboola/ConfigMigrationTool/Migrations/KeboolaGoodDataWriterMigrationTest.php</file>
            <file>./tests/Keboola/ConfigMigrationTool/Migrations/OAuthMigrationTest.php</file>
            <file>./tests/Keboola/ConfigMigrationTool/ApplicationTest.php</file>
        </testsuite>
    </testsuites>

</phpunit>
